.prod_list_container{
    width: 100%;
    display: grid;
    justify-content: center;
}

.prod_list{
    display: flex;
    justify-content:start;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.catalogue_main{
    display: grid;
    justify-items: center;
    width: 100%;
}

.catalogue_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    overflow-y: auto;
    width: 100%;
}


.catalogue{
    display: grid;
    justify-content:center;
    padding-top: 20px;
    width: 100%;
}


.add_button{
    width: 100%;
    border-radius: 0%;
    border-color: unset;
    box-shadow: 0px 0px 3px black;
}

.page_arrows{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "prev next";
}

.prev_arrow{
    grid-area: prev;
}

.next_arrow{
    grid-area: next;
}

.role{
    color:rgb(69, 69, 231);
}
