.chat_main_container{
    width: 520px;
    height: 520px;
    box-shadow: 0px 0px 5px black;
    padding:5px;
}

.chat_msg_list{
    height: 400px;
    overflow:auto;
}
.msg_container{
    border:black solid;
}
.msg_input_container{
    display: flex;
}
.msg_input_container button{
    width: 50px;

}

.msg_input{
    width: 450px;
}