h1{
    color:red;
}

.prod_list_container{
    width: 100%;
    display: grid;
    justify-content: center;
}

.prod_list{
    display: flex;
    justify-content:start;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.prod_card{
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 3px black;
    display: grid;
    justify-items: center;
}

.example_image{
    width: 150px;
    height: 130px;
}
