.manage-users-main-container{
    display: grid;
    justify-items: center;
}

.users-list-container{
    width: fit-content;
    border:1px solid #CCC;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.list-headers{
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 4fr 3fr 2fr;
    background-color: #dfd6cd;
}

.list-headers h6{
    color:#F6511D !important; 
}

.users-list{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 700px;
    overflow: auto;
    background-color: #fff;
    border:1px solid #CCC;

}
.user-container{
    width: 690px;
    display: grid;
    padding-top: 5px;
    align-items: center;
    grid-template-columns: 4fr 4fr 3fr 2fr;
    background-color: #fff;
    border-bottom:1px solid #CCC;
}

.user-container h6{
    overflow-y:hidden;
    overflow-x: auto;
}
.user-container p{
    overflow-x: auto;
}

.user_manage_button{
    background-color: #e7cec6;
    border-radius: 20%;
}

.user_manage_upgrade:hover {
    background-color:rgb(157, 206, 83);
}

.user_manage_downgrade:hover{
    background-color:rgb(218, 182, 21);
}

.user_manage_delete:hover{
    background-color:rgb(218, 60, 21);
}

  
