
h1{
    color:red;
}

.prod_list_container{
    width: 100%;
    display: grid;
    justify-content: center;
}

.prod_list{
    display: flex;
    justify-content:start;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.prod_card{
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 3px black;
    display: grid;
    justify-items: center;
}

.example_image{
    width: 150px;
    height: 130px;
}

form {
    width: 400px;
    margin: 0 auto;
    border: solid black;
    width: 500px;
    display: grid;
  }

  form h1{
    justify-self: center;
  }
  label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5%;
  }
  input{
    justify-self: center;
  }
  input[type="text"],
  input[type="number"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
