body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.ticket {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

h2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h3 {
    color: #007BFF;
}

.item {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}