<div class="admin-main-container">
    <div class="admin-container">
        <h3>ADMIN MANAGE OPTIONS</h3>
        <a href="../../../views/admin/manage/users"><h6>MANAGE USERS</h6></a>
        <h6>MANAGE PRODUCTS</h6>
    </div>
</div>