<div>
    
    <div class="cart_prod_list">
        
         {{#if esVacio}}
            <p>El carrito esta vacío</p>
        {{/if}}

        {{#each products}}
                <div class="prod_on_cart">
                    <img src="../../static/img/example.jpg" class="example_image">
                    <h3 class="prod_title">{{this.product.title}}</h3>
                    <h5 class="prod_price">USD {{this.product.price}}</h5>
                    <h5>x{{this.quantity}}</h5>
                </div>
        {{/each}}

    </div>

</div>

