<div>
    <h2>Cambiar Contraseña</h2>
    
    <form action="" method="">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{email}}" required><br>

        <label for="token">Código de recuperación:</label>
        <input type="text" id="token" name="token" value="{{token}}" required><br>

        <label for="nueva-contraseña">Nueva Contraseña:</label>
        <input type="password" id="password" name="nueva-contraseña" required>
        <br><br>
        
        <label for="repetir-contraseña">Repetir Contraseña:</label>
        <input type="password" id="repeat-password" name="repetir-contraseña" required>
        <br><br>
        
        <input type="submit" value="Cambiar Contraseña" class="change_button">
    </form>

    
</div>

<script src="../../../static/js/changePassword.js"></script>