<div class="chat_main_container">
    <h2>CHAT</h2>
    <div class="chat_sub_container">

        <div class="chat_msg_list">

        </div>

    </div>
    
    <div class="msg_input_container">
        <input type="text" class="send_msg_input">
        <button class="send_msg_btn"> → </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"> </script> 
    <script src="../../static/js/chat.js"></script>
</div>