<div class="prod_list_container">
    <h1>MANAGE YOUR PRODUCTS</h1>
    <div class="prod_list">

    </div>
    
    <form class="delete_form RTPform">
        <h1>Delete product</h1>
        <label for="id">ID:</label>
        <input class="pid" type="text" id="id" name="id" required>
        <input class="delete_btn" type="submit" value="Delete">
    </form>
    

    <form class="add_form RTPform">
        <h1>Add product</h1>
        <label for="title">Title:</label>
        <input type="text" class="add_title" id="title" name="title" required>

        <label for="description">Description:</label>
        <input type="text" class="add_description" id="description" name="description" required>

        <label for="category">Category:</label>
        <input type="text" class="add_category" id="category" name="category" required>

        <label for="price">Price:</label>
        <input type="number" class="add_price" id="price" name="price" required>

        <label for="thumbnail">Thumbnail:</label>
        <input type="text" class="add_thumbnail" id="thumbnail" name="thumbnail">

        <label for="code">Code:</label>
        <input type="text" class="add_code" id="code" name="code" required>

        <label for="stock">Stock:</label>
        <input type="number" class="add_stock" id="stock" name="stock" required>

        <input type="submit" value="Add" class="add_btn">
    </form>

    <script src="/socket.io/socket.io.js"> </script> 
    <script src="../../static/js/RTPsocket.js"></script>

</div>
