<div class="form-container">
    <h2>Register</h2>
    <form>
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name"><br>

        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="repeat-password">Repeat Password:</label>
        <input type="password" id="repeat-password" name="repeat-password"><br>

        <input type="submit" class="register_btn" value="Register">
    </form>
</div>

<script src="/socket.io/socket.io.js"> </script> 
<script src="../../static/js/register.js"></script>