
<div>

    <form class="formulario" action="/views/sessions/login/retrievePassword" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required class="emailInput">
        <br>
        <button type="submit" class="sendButton">Recuperar Contraseña</button>
    </form>

</div>
