<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/{{style}}">
    <title>{{{title}}}</title>
</head>
<body>

    <div class="page_menu">
        <p><a href="../../../views/products">Catalogue</a></p>
        <p><a href="../../../views/chat">Chat</a></p>
        <p><a href="../../../views/realTimeProducts">Administrar tus productos</a></p>
        <p><a href="../../../api/users/premium">UPGRADE TO PREMIUM</a></p>
        <p><a href="../../../views/misc/documents">SUBIR ARCHIVOS</a></p>
    </div>

    {{{body}}}
</body>

    
    
</html>